<div class="navbar">
    <div class="logo"><i class="fas fa-university"></i> Bank</div>
    <ul class="nav-links">
        <li class="nav-item"><a class="a-link" href="#home">Home</a></li>
        <li class="nav-item"><a class="a-link" href="#contact">Contact</a></li>
        <li class="nav-item"><a class="a-link nav-btn" href="#register">Sign Up</a></li>
    </ul>
</div>

<div class="section home-section" id="home">
    <div class="login-container">
        <form class="login-form" action=""  data-action="login">
            <h2>Log in to your account</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input class="input-text input-username" type="text" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="input-text input-password" type="password" required />
                </div>
                <div>
                    <button type="submit">Log in</button><span>Or Register<a href="#register"> here.</a> </span>
                </div>
                <div class="validation"></div>
        </form>
    </div>
    <div class="header">
        <h1 class="header">A simple banking application.</h1>
        <h3 class="">For simple banking needs.</h3>
    </div>
</div>


<div id="contact" class="contact-section">
    <h1>Contact Us</h1>
    <p class="section-info">Feel free to say hello.
    </p>
    <div class="contact-items-container">
        <div class="flex-item-card">
            <i class="fa fa-headphones fa-3x textcolor1"></i>
            <span class="section-info">Hotline</span>
            <h5>111-222-333</h5>
        </div>
        <div class="flex-item-card">
            <i class="fa fa-envelope fa-3x textcolor1"></i>
            <span class="section-info">Email</span>
            <h5>bank@banking.com</h5>
        </div>
        <div class="flex-item-card">
            <i class="fa fa-map-marker fa-3x textcolor1"></i>
            <span class="section-info">Location</span>
            <h5>Test Address</h5>
        </div>
    </div>
</div>


<div class="section register-section" id="register">
    <div class="register-container">
        <form class="register-form" action=""  data-action="register">
            <h2>Register Now</h3>
                <div class="form-group ">
                    <label>Full Name</label>
                    <input class="input-text input-fullname" type="text" required />
                </div>
                <div class="form-group ">
                    <label>Username</label>
                    <input class="input-text input-username" type="text" required />
                </div>
                <div class="form-group ">
                    <label>Password</label>
                    <input class="input-text input-password" type="password" required />
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
                <div class="validation"></div>
        </form>
    </div>
</div>